.background__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100vw;
}
.background__images .background__big__glow {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 662.63px;
  height: 783.03px;
  -webkit-filter: blur(250px);
          filter: blur(250px);
  -webkit-transform: rotate(-105.26deg);
          transform: rotate(-105.26deg);
}