@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans:wght@400;500;700;800&family=Roboto:wght@500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 51px;
  line-height: 62px;
}
@media (max-width: 767.98px) {
  .title {
    font-size: 24px;
    line-height: 29px;
  }
}

.description {
  margin-top: 23px;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
@media (max-width: 767.98px) {
  .description {
    font-size: 16px;
    line-height: 22px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  padding: 0 6.944vw;
}
@media (max-width: 767.98px) {
  [class*=__container] {
    padding: 0 15px;
  }
}

body {
  height: 100%;
  overflow-x: hidden;
  font-family: Montserrat;
  color: #fff;
  background-color: black;
}

.header {
  margin: 23px 0 0 0;
}
@media (max-width: 440px) {
  .header {
    margin-top: 40px;
  }
}
.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 440px) {
  .header .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header .header__container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 440px) {
  .header .header__container .logo__image {
    width: 51.73px;
    height: 52.69px;
  }
}
.header .header__container .logo__text {
  padding-left: 8px;
}
@media (max-width: 440px) {
  .header .header__container .logo__text {
    padding-left: 3.87px;
  }
  .header .header__container .logo__text img {
    min-width: 46.41px;
    height: 11.96px;
  }
}
.header .header__container .login {
  margin-left: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 440px) {
  .header .header__container .login {
    margin-left: 0;
  }
}
@media (max-width: 440px) {
  .header .header__container .login__image {
    display: none;
  }
}
.header .header__container .login__text {
  margin-left: 12px;
  font-family: "Noto Sans";
  font-weight: 500;
  line-height: 25px;
  color: white;
}
.header .header__container .login__text:hover {
  color: rgb(0, 153, 255);
}
@media (max-width: 440px) {
  .header .header__container .login__text {
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    border-bottom: 1px #fff solid;
    margin-left: 0;
    width: 38px;
    height: 25px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.greeting {
  position: relative;
}
.greeting__back {
  position: absolute;
  top: -23%;
  right: -1.3vw;
  z-index: -2;
  width: 45.972vw;
  height: 95.065%;
  background: rgba(250, 0, 255, 0.2);
  -webkit-filter: blur(150px);
          filter: blur(150px);
}
@media (max-width: 1023.98px) {
  .greeting__back {
    right: 2vw;
    top: 0;
    -webkit-filter: blur(80px);
            filter: blur(80px);
    max-height: 666px;
  }
}
@media (max-width: 767.98px) {
  .greeting__back {
    top: 0;
    max-height: 500px;
    background: rgba(250, 0, 255, 0.5);
    -webkit-filter: blur(70px);
            filter: blur(70px);
  }
}
@media (max-width: 490px) {
  .greeting__back {
    right: -10.3vw;
    max-height: 363.95px;
  }
}
.greeting__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.greeting__container .greeting__content {
  margin-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .greeting__container .greeting__content {
    margin-top: 65.31px;
  }
}
.greeting__container .greeting__content .greeting__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 125px 15px 0 0;
  min-width: 240px;
}
@media (max-width: 767.98px) {
  .greeting__container .greeting__content .greeting__info {
    margin: 0 15px 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.greeting__container .greeting__content .greeting__info .greeting__title {
  font-weight: 700;
  font-size: 4.444vw;
  line-height: 109%;
}
@media (max-width: 767.98px) {
  .greeting__container .greeting__content .greeting__info .greeting__title {
    line-height: 40px;
    font-size: 35px;
  }
}
.greeting__container .greeting__content .greeting__info .greeting__description {
  margin-top: 88px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 1023.98px) {
  .greeting__container .greeting__content .greeting__info .greeting__description {
    margin-top: 38px;
  }
}
@media (max-width: 767.98px) {
  .greeting__container .greeting__content .greeting__info .greeting__description {
    margin-top: 24px;
  }
}
.greeting__container .greeting__content .greeting__info .greeting__description-back {
  position: absolute;
  bottom: 15.3%;
  left: -1%;
  width: 125px;
  height: 125px;
  background: rgba(96, 92, 234, 0.5);
  -webkit-filter: blur(50px);
          filter: blur(50px);
}
@media (max-width: 767.98px) {
  .greeting__container .greeting__content .greeting__info .greeting__description-back {
    width: 74px;
    height: 74px;
  }
}
@media (max-width: 767.98px) {
  .greeting__container .greeting__content .greeting__info .greeting__description-image {
    display: none;
  }
}
.greeting__container .greeting__content .greeting__info .greeting__description-text {
  margin-left: 31px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}
@media (max-width: 1023.98px) {
  .greeting__container .greeting__content .greeting__info .greeting__description-text {
    max-width: 240px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 767.98px) {
  .greeting__container .greeting__content .greeting__info .greeting__description-text {
    margin-left: 0;
    font-size: 16px;
    line-height: 22px;
  }
}
.greeting__container .greeting__content .greeting__image {
  margin-right: 84.12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 161px;
  min-height: 322px;
}
@media (max-width: 1023.98px) {
  .greeting__container .greeting__content .greeting__image {
    margin-right: 44px;
  }
}
@media (max-width: 767.98px) {
  .greeting__container .greeting__content .greeting__image {
    margin-right: 0;
    min-width: 161px;
    min-height: 322px;
  }
}
.greeting__container .greeting__content .greeting__image .greeting__phone {
  height: 100%;
}
.greeting__container .greeting__content .greeting__image .greeting__phone-back {
  position: absolute;
  top: 2%;
  left: -3%;
  width: 307.77px;
  height: 631.35px;
  background: #000;
  opacity: 0.4;
  -webkit-filter: blur(71.6833px);
          filter: blur(71.6833px);
  z-index: -1;
}
@media (max-width: 767.98px) {
  .greeting__container .greeting__content .greeting__image .greeting__phone-back {
    display: none;
  }
}
.greeting__container .greeting__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 74.2px;
  margin-right: 4.5vw;
}
@media (max-width: 1023.98px) {
  .greeting__container .greeting__download {
    padding-top: 55.01px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
}
.greeting__container .greeting__download-text {
  font-size: 35px;
  font-weight: 700;
}
@media (max-width: 1023.98px) {
  .greeting__container .greeting__download-text {
    font-size: 30px;
  }
}
@media (max-width: 767.98px) {
  .greeting__container .greeting__download-text {
    font-size: 24px;
  }
}
.greeting__container .greeting__download-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1023.98px) {
  .greeting__container .greeting__download-buttons {
    padding-top: 34px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.greeting__container .greeting__download .download__button-apple {
  padding-right: 27.95px;
}
@media (max-width: 1023.98px) {
  .greeting__container .greeting__download .download__button-apple {
    padding-right: 0;
  }
}
@media (max-width: 1023.98px) {
  .greeting__container .greeting__download .download__button-google {
    padding-top: 24px;
  }
}

@media (max-width: 1023.98px) {
  .mission {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.mission .cookies {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #212834;
  height: 93px;
}
@media (max-width: 1023.98px) {
  .mission .cookies {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 94.88px;
    padding: 0 15px;
  }
}
.mission .cookies__text {
  padding-left: 100px;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
@media (max-width: 1023.98px) {
  .mission .cookies__text {
    padding: 0 4px 0 0;
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 500px) {
  .mission .cookies__text {
    white-space: pre-line;
    max-width: 249px;
  }
}
.mission .cookies__button {
  margin-right: 24px;
  cursor: pointer;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #FFFFFF;
  border-radius: 6px;
  width: 132px;
  height: 50px;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}
@media (max-width: 1023.98px) {
  .mission .cookies__button {
    margin-right: 0;
  }
}
.mission .cookies__button:hover {
  color: rgb(0, 153, 255);
  border: 0.5px solid rgb(0, 153, 255);
}
.mission__authorization {
  margin-top: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1023.98px) {
  .mission__authorization {
    margin-top: 70px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.mission__authorization .mission__border {
  padding-left: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 503px;
  height: 312px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 21.3671px;
}
@media (max-width: 1023.98px) {
  .mission__authorization .mission__border {
    padding-left: 48px;
    width: 345px;
    height: 233px;
  }
}
.mission__authorization .mission__text {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}
@media (max-width: 1023.98px) {
  .mission__authorization .mission__text {
    font-size: 24px;
    line-height: 33px;
  }
}
.mission__authorization .mission__link {
  padding-top: 30px;
}
.mission__authorization .mission__link a {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
}
@media (max-width: 1023.98px) {
  .mission__authorization .mission__link a {
    font-size: 18px;
    line-height: 25px;
  }
}
.mission__authorization .mission__link a:hover {
  color: rgb(0, 153, 255);
}
.mission__authorization .mission__contacts {
  margin-right: 81px;
}
@media (max-width: 1023.98px) {
  .mission__authorization .mission__contacts {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.mission__content {
  margin-top: 246px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1023.98px) {
  .mission__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 110px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1023.98px) {
  .mission__content .mission__phone {
    margin-top: 163px;
  }
}
@media (max-width: 1023.98px) {
  .mission__content .mission__phone .mission__phone-left {
    display: none;
  }
}
.mission__content .mission__phone .mission__phone-center {
  display: none;
}
@media (max-width: 1023.98px) {
  .mission__content .mission__phone .mission__phone-center {
    display: block;
    width: 172.53px;
    height: 346.12px;
  }
}
.mission__content .mission__info {
  position: relative;
  margin-right: 163px;
}
@media (max-width: 1280px) {
  .mission__content .mission__info {
    margin: 0 80px;
  }
}
@media (max-width: 1023.98px) {
  .mission__content .mission__info {
    margin: 0;
  }
}
.mission__content .mission__info-back {
  position: absolute;
  right: 21.229%;
  z-index: -1;
  background: url("/img/MAIN/Mission/Ellipse-back.png") no-repeat;
  background: #F101BF;
  -webkit-filter: blur(60px);
          filter: blur(60px);
  width: 85px;
  height: 85px;
}
@media (max-width: 1280px) {
  .mission__content .mission__info-back {
    left: 0;
  }
}
.mission__content .mission__info .mission__title {
  max-width: 358px;
}
.mission__content .mission__info .mission__description {
  max-width: 315px;
}

.id {
  margin-top: 283px;
  background: url("/img/MAIN/id/back_blur.png") top/100% no-repeat, url("/img/MAIN/id/background.png") top/100% no-repeat;
}
@media (max-width: 1320px) {
  .id {
    margin-top: 83px;
  }
}
@media (max-width: 1023.98px) {
  .id {
    margin-top: 3px;
  }
}
.id__content {
  margin-top: 467px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1320px) {
  .id__content {
    margin-top: 300px;
  }
}
@media (max-width: 1023.98px) {
  .id__content {
    margin-top: 224px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.id__content .id__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
}
@media (max-width: 1320px) {
  .id__content .id__phones {
    margin-left: 20px;
  }
}
@media (max-width: 1023.98px) {
  .id__content .id__phones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 70px 0 0 0;
  }
}
.id__content .id__phones .id__phone-left {
  margin-right: 49.44px;
}
@media (max-width: 1320px) {
  .id__content .id__phones .id__phone-left {
    width: 287.08px;
    height: 575.93px;
    margin-right: 20px;
  }
}
@media (max-width: 1023.98px) {
  .id__content .id__phones .id__phone-left {
    margin-right: 0;
  }
}
@media (max-width: 1320px) {
  .id__content .id__phones .id__phone-right {
    width: 287.08px;
    height: 575.93px;
  }
}
@media (max-width: 1023.98px) {
  .id__content .id__phones .id__phone-right {
    margin-top: 55px;
  }
}
.id__content .id__info {
  margin: 0 191px 74.15px 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 1320px) {
  .id__content .id__info {
    margin: 0 40px 74.15px 0;
  }
}
@media (max-width: 1023.98px) {
  .id__content .id__info {
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
.id__content .id__info .id__description {
  max-width: 316px;
}
@media (max-width: 1023.98px) {
  .id__content .id__info .id__description {
    max-width: 345px;
  }
}

.integration {
  margin-top: 293.85px;
  margin-bottom: 275px;
}
@media (max-width: 1023.98px) {
  .integration {
    margin-top: 144.15px;
    margin-bottom: 440px;
  }
}
@media (max-width: 767.98px) {
  .integration {
    margin-bottom: 270px;
  }
}
.integration__container {
  position: relative;
}
@media (max-width: 1023.98px) {
  .integration__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1023.98px) {
  .integration__container .integration__info {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
@media (max-width: 450px) {
  .integration__container .integration__info {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.integration__container .integration__info .integration__description {
  max-width: 395px;
}
.integration__container .image__years {
  position: absolute;
  bottom: 60%;
  right: 16.3%;
}
@media (max-width: 1023.98px) {
  .integration__container .image__years {
    top: 255%;
    left: -6.5%;
  }
}
@media (max-width: 767.98px) {
  .integration__container .image__years {
    width: 144.57px;
    height: 86px;
    top: 210%;
    left: -9%;
  }
}
.integration__container .image__pacman {
  position: absolute;
  top: 54%;
  right: 30%;
}
@media (max-width: 1023.98px) {
  .integration__container .image__pacman {
    top: 155%;
    left: 2.903%;
  }
}
@media (max-width: 767.98px) {
  .integration__container .image__pacman {
    width: 109.43px;
    height: 21.28px;
    left: 10.903%;
  }
}
.integration__container .image__bulb {
  position: absolute;
  top: 54%;
  right: 12.3%;
}
@media (max-width: 1023.98px) {
  .integration__container .image__bulb {
    top: 115%;
    left: 70.5%;
  }
}
@media (max-width: 767.98px) {
  .integration__container .image__bulb {
    width: 85.62px;
    height: 90.56px;
  }
}
.integration__container .image__months {
  position: absolute;
  top: 92%;
  right: 40%;
}
@media (max-width: 1023.98px) {
  .integration__container .image__months {
    display: none;
  }
}
.integration__container .image__blue-hills {
  position: absolute;
  bottom: -80%;
  right: 24%;
}
@media (max-width: 1023.98px) {
  .integration__container .image__blue-hills {
    top: 145%;
    left: 45.565%;
  }
}
@media (max-width: 767.98px) {
  .integration__container .image__blue-hills {
    width: 90.95px;
    height: 55.18px;
    top: 140%;
    left: 50.565%;
  }
}
.integration__container .image__data08 {
  position: absolute;
  bottom: -136%;
  right: 30%;
  z-index: -1;
}
@media (max-width: 1023.98px) {
  .integration__container .image__data08 {
    top: 225%;
    left: 20.806%;
  }
}
@media (max-width: 767.98px) {
  .integration__container .image__data08 {
    width: 90.95px;
    height: 55.18px;
    top: 185%;
    left: 33.806%;
  }
}
.integration__container .image__data01 {
  position: absolute;
  bottom: -148%;
  right: 6%;
}
@media (max-width: 1023.98px) {
  .integration__container .image__data01 {
    top: 280%;
    right: 12%;
  }
}
@media (max-width: 767.98px) {
  .integration__container .image__data01 {
    width: 296px;
    height: 59.18px;
    top: 250%;
    right: -22%;
  }
}

.qr {
  margin-top: 222.79px;
  position: relative;
  background: url("/img/MAIN/QR/back-blur.png") top center/100vw no-repeat, url("/img/MAIN/QR/dj-back.png") top left/50vw no-repeat, url("/img/MAIN/QR/drink-back.png") top right/50vw no-repeat;
}
@media (max-width: 1130px) {
  .qr {
    margin-top: 34.82px;
  }
}
@media (max-width: 426px) {
  .qr {
    background: url("/img/MAIN/QR/back-blur.png") top center/416px 335px no-repeat, url("/img/MAIN/QR/dj-back.png") top center/416px 335px no-repeat;
  }
}
.qr__nightlife {
  position: absolute;
  top: 0;
  right: 8%;
  -webkit-transform: rotate(-12.84deg);
          transform: rotate(-12.84deg);
}
@media (max-width: 426px) {
  .qr__nightlife {
    width: 88.46px;
    height: 34.62px;
    top: 36%;
    left: 10%;
  }
}
.qr .qr__phones-back {
  display: none;
}
@media (max-width: 426px) {
  .qr .qr__phones-back {
    display: block;
    background: url("/img/MAIN/QR/drink-back.png") center/100% no-repeat;
    width: 352.44px;
    height: 297px;
    position: absolute;
    top: 30%;
    right: -9%;
    z-index: -1;
  }
}
.qr__content {
  margin-top: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1130px) {
  .qr__content {
    margin-top: 227px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.qr__content .qr__info {
  margin: 0 0 30.67px 181px;
}
@media (max-width: 1330px) {
  .qr__content .qr__info {
    margin-bottom: 0;
    margin-left: 50px;
  }
}
@media (max-width: 1130px) {
  .qr__content .qr__info {
    margin-left: 0;
  }
}
.qr__content .qr__info .qr__description {
  max-width: 315px;
}
.qr__content .qr__info .qr__button {
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1130px) {
  .qr__content .qr__info .qr__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.qr__content .qr__info .qr__button .qr__button-apple {
  margin-right: 27.97px;
  width: 163.53px;
  height: 51.33px;
}
@media (max-width: 1130px) {
  .qr__content .qr__info .qr__button .qr__button-apple {
    margin-right: 0;
    width: 185px;
    height: 60px;
  }
}
.qr__content .qr__info .qr__button .qr__button-google {
  width: 163.53px;
  height: 51.33px;
}
@media (max-width: 1130px) {
  .qr__content .qr__info .qr__button .qr__button-google {
    margin-top: 24px;
    width: 185px;
    height: 60px;
  }
}
.qr__content .qr__phones {
  margin-right: 56.44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1330px) {
  .qr__content .qr__phones {
    margin-right: 20px;
  }
}
@media (max-width: 1130px) {
  .qr__content .qr__phones {
    margin-top: 80px;
    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 426px) {
  .qr__content .qr__phones {
    margin-top: 240px;
  }
}
.qr__content .qr__phones .qr__phone-top {
  margin-right: 80.44px;
  width: 332.56px;
  height: 667.15px;
}
@media (max-width: 1330px) {
  .qr__content .qr__phones .qr__phone-top {
    margin-right: 30px;
  }
}
@media (max-width: 1130px) {
  .qr__content .qr__phones .qr__phone-top {
    margin-right: 0;
    width: 280.98px;
    height: 563.68px;
  }
}
.qr__content .qr__phones .qr__phone-bottom {
  margin-top: 341px;
  width: 332.56px;
  height: 667.15px;
}
@media (max-width: 1130px) {
  .qr__content .qr__phones .qr__phone-bottom {
    margin-top: 50px;
    width: 280.98px;
    height: 563.68px;
  }
}

.generate {
  margin-top: 41.85px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767.98px) {
  .generate {
    margin-top: 130.59px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.generate .generate__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .generate .generate__content {
    margin-top: 70px;
  }
}
.generate .generate__content .generate__back {
  position: absolute;
  z-index: -2;
  top: -18%;
  left: 14.79%;
  right: 0;
  bottom: 0;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%) 100% no-repeat;
  width: 1022.45px;
  height: 952.07px;
  opacity: 0.2;
  -webkit-filter: blur(311.569px);
          filter: blur(311.569px);
  border-radius: 476.034px;
  -webkit-transform: rotate(-0.55deg);
          transform: rotate(-0.55deg);
}
@media (max-width: 767.98px) {
  .generate .generate__content .generate__back {
    opacity: 0.4;
    top: 42%;
    left: 9.33%;
    -webkit-filter: blur(93.3565px);
            filter: blur(93.3565px);
    width: 306.36px;
    height: 285.27px;
  }
}
.generate .generate__content .generate__notab {
  background: url("/img/MAIN/Generate/noTab.png") center/100% no-repeat;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
@media (max-width: 767.98px) {
  .generate .generate__content .generate__phone {
    width: 181.58px;
    height: 364.28px;
  }
}
.generate .generate__content .generate__info .generate__arrow {
  position: absolute;
  top: 198px;
  left: calc(50% + 228px);
}
@media (max-width: 767.98px) {
  .generate .generate__content .generate__info .generate__arrow {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    top: 90%;
    left: 75%;
  }
}
.generate .generate__content .generate__info .generate__text {
  position: absolute;
  top: 284px;
  left: calc(50% + 307px);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
@media (max-width: 767.98px) {
  .generate .generate__content .generate__info .generate__text {
    font-size: 18px;
    line-height: 22px;
    top: 109%;
    left: 58%;
  }
}
.generate__container {
  margin-top: 79.85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .generate__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0;
  }
}
.generate__container .generate__title {
  max-width: 381px;
  font-weight: 700;
  font-size: 51px;
  line-height: 62px;
}
@media (max-width: 767.98px) {
  .generate__container .generate__title {
    font-size: 24px;
    line-height: 29px;
  }
}
.generate__container .generate__description {
  max-width: 292px;
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 25px;
}
@media (max-width: 767.98px) {
  .generate__container .generate__description {
    margin-top: 24px;
    font-size: 16px;
    line-height: 22px;
  }
}

.easier {
  position: relative;
}
.easier__back {
  position: absolute;
  top: 177px;
  right: -1.63%;
  z-index: -2;
  width: 286.92px;
  height: 267.17px;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.7;
  -webkit-filter: blur(250px);
          filter: blur(250px);
  -webkit-transform: rotate(5.78deg);
          transform: rotate(5.78deg);
}
.easier__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.easier__container .easier__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 421px;
          flex: 0 1 421px;
  margin-right: 160px;
}
.easier__container .easier__info .easier__description {
  max-width: 365px;
}
.easier__phone {
  margin-left: 311px;
}
.easier__phone .easier__lost {
  padding: 1rem;
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 22.8021px;
  line-height: 27px;
  width: 266.78px;
  height: 98.81px;
  border: 0.76007px solid rgba(255, 255, 255, 0.5);
  border-radius: 18.2417px;
  background-color: black;
}
.easier__phone .easier__lost-right {
  position: absolute;
  top: 386px;
  left: 786px;
}
.easier__phone .easier__lost-left {
  position: absolute;
  top: 542px;
  left: 304px;
}
.easier__phone .easier__split {
  padding: 1rem;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22.8021px;
  line-height: 27px;
  width: 185px;
  height: 91px;
  border: 0.76007px solid rgba(255, 255, 255, 0.5);
  border-radius: 18.2417px;
  background-color: black;
  position: absolute;
  top: 811px;
  left: 1006px;
}
.easier__phone .easier__skip {
  padding: 1rem;
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 22.8021px;
  line-height: 27px;
  width: 175.58px;
  height: 65.37px;
  border: 0.76007px solid rgba(255, 255, 255, 0.5);
  border-radius: 18.2417px;
  background-color: black;
  position: absolute;
  top: 902px;
  left: 509px;
}

.noTab {
  background: url("/img/MAIN/Notab/back.png") top center/100vw no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}
.noTab__phone {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 329px 0 245.84px 0;
}
.noTab__phone .noTab__img {
  background: url("/img/MAIN/Notab/noTab-img.png") center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.get .form__message, .get .form__city input, .get .form__input {
  border: 1px solid #5C5C5C;
  border-radius: 10px;
}

.get {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.get__back-top {
  position: absolute;
  top: -50px;
  left: 345px;
  z-index: -1;
  width: 247.04px;
  height: 250.45px;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  -webkit-filter: blur(250px);
          filter: blur(250px);
  -webkit-transform: rotate(5.78deg);
          transform: rotate(5.78deg);
}
.get__back-right {
  position: absolute;
  bottom: 5.86%;
  right: -8%;
  z-index: -1;
  width: 336.78px;
  height: 341.42px;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.9;
  -webkit-filter: blur(250px);
          filter: blur(250px);
  -webkit-transform: rotate(5.78deg);
          transform: rotate(5.78deg);
}
.get__info {
  margin: 13px 0 82px 0;
  text-align: center;
}
.get .form {
  max-width: 818px;
  margin: 0 auto;
}
.get .form input::-webkit-input-placeholder {
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 25px;
  color: #BFBFBF;
}
.get .form input::-moz-placeholder {
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 25px;
  color: #BFBFBF;
}
.get .form input:-ms-input-placeholder {
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 25px;
  color: #BFBFBF;
}
.get .form input::-ms-input-placeholder {
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 25px;
  color: #BFBFBF;
}
.get .form input::placeholder {
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 25px;
  color: #BFBFBF;
}
.get .form__input {
  padding-left: 23px;
  width: 100%;
  height: 83px;
  border: 1px solid #5C5C5C;
  margin-bottom: 23px;
}
.get .form__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 23px;
}
.get .form__city input {
  padding-left: 23px;
  width: 397px;
  height: 83px;
}
.get .form__city-venue {
  margin-right: 24px;
}
.get .form__message {
  padding: 26px 23px;
  width: 100%;
  min-height: 199px;
  resize: vertical;
}
.get .form__message::-webkit-input-placeholder {
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 25px;
  color: #BFBFBF;
}
.get .form__message::-moz-placeholder {
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 25px;
  color: #BFBFBF;
}
.get .form__message:-ms-input-placeholder {
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 25px;
  color: #BFBFBF;
}
.get .form__message::-ms-input-placeholder {
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 25px;
  color: #BFBFBF;
}
.get .form__message::placeholder {
  font-family: "Noto Sans";
  font-weight: 400;
  line-height: 25px;
  color: #BFBFBF;
}
.get__button {
  margin: 60px auto 91px auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  width: 398px;
  min-height: 60px;
}
.get__button:hover {
  color: rgb(0, 153, 255);
  border: 0.5px solid rgb(0, 153, 255);
}

.download {
  margin-bottom: 155.36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.download__text {
  margin-bottom: 32.73px;
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.03em;
}

.footer {
  margin-top: 94px;
  margin-bottom: 85.85px;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (max-width: 767.98px) {
  .footer {
    margin: 64px 0 24px 0;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Noto Sans";
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
}
@media (max-width: 767.98px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__container .footer__agreements .footer__privacy {
  margin-top: 25px;
}
@media (max-width: 767.98px) {
  .footer__container .footer__agreements .footer__privacy {
    margin-top: 14px;
  }
}
@media (max-width: 767.98px) {
  .footer__container .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 58px;
    font-size: 14px;
    line-height: 19px;
  }
}
.footer__container .footer__info .footer__contacts {
  max-width: 171px;
  margin-top: 15.85px;
  font-weight: 500;
}
@media (max-width: 767.98px) {
  .footer__container .footer__info .footer__contacts {
    margin-top: 16.84px;
    max-width: 216px;
  }
}
.footer__container .footer__info .footer__copyright {
  margin-top: 19.15px;
}
@media (max-width: 767.98px) {
  .footer__container .footer__info .footer__copyright {
    margin-top: 9px;
  }
}