.footer {
    margin-top: 94px;
    margin-bottom: 85.85px;
    position: relative;
    flex: 0 0 auto;

    @media(max-width: 767.98px) {
        margin: 64px 0 24px 0;
    }

    &__back {
        position: absolute;
        top: -97.12%;
        left: -3.22%;
        z-index: -1;
        width: 405.99px;
        height: 411.6px;
        background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%) no-repeat;
        opacity: 0.5;
        filter: blur(180px);
        transform: rotate(5.78deg);

        @media(max-width: 767.98px) {
            width: 224.67px;
            height: 227.77px;
            top: 12.97%;
            left: -20.75%;
            filter: blur(88.347px);
            opacity: 0.5;
        }
    }


    &__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-family: 'Noto Sans';
        font-weight: 800;
        font-size: 18px;
        line-height: 25px;

        @media(max-width: 767.98px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .footer__agreements {

            .footer__terms {}

            .footer__privacy {
                margin-top: 25px;

                @media(max-width: 767.98px) {
                    margin-top: 14px;
                }
            }

        }

        .footer__info {
            @media(max-width: 767.98px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 58px;
                font-size: 14px;
                line-height: 19px;
            }

            .footer__title {}

            .footer__contacts {
                max-width: 171px;
                margin-top: 15.85px;
                font-weight: 500;


                @media(max-width: 767.98px) {
                    margin-top: 16.84px;
                    max-width: 216px;
                }
            }

            .footer__copyright {
                margin-top: 19.15px;

                @media(max-width: 767.98px) {
                    margin-top: 9px;
                }
            }
        }
    }
}