.header {
    .header__container {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 23px 0 0 0;

        .logo {
            display: flex;
            margin: 0 108px 0 0;
            align-items: center;

            &__image {
                width: 107px;
                height: 109px;
                margin: 0 8px 0 0;
            }

            &__text {
                width: 96px;
                height: 24.75px;
            }
        }

        .login {
            display: flex;
            align-items: center;

            &__image {
                width: 26px;
                height: 25px;
                margin: 0 12px 0 0;
            }

            &__text {
                font-family: 'Noto Sans';
                font-weight: 500;
                line-height: 25px;
                color: white;

                &:hover {
                    color: rgb(0, 153, 255);
                }
            }
        }
    }
}