// -RESET-CSS--------------------------------------------------------------------------
@import "reset.scss";
// -FONTS------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans:wght@400;500;700;800&family=Roboto:wght@500;700&display=swap');
// -VARS------------------------------------------------------------------------------
@import "vars.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

[class*="__container"] {
    padding: 0 6.944vw;

    @media (max-width: 767.98px) {
        padding: 0 15px;
    }
}

body {
    height: 100%;
    overflow-x: hidden;
    font-family: Montserrat;
    font-size: 18px;
    color: #fff;
    background-color: black;
}

// -HEADER------------------------------------------------------------------------------
@import "header.scss";
// -MAIN----------------------------------------------------------------
@import "main/main.scss";
@import "main/sections/greeting.scss";
@import "main/sections/mission.scss";
@import "main/sections/id.scss";
@import "main/sections/integration.scss";
@import "main/sections/qr.scss";
@import "main/sections/generate.scss";
@import "main/sections/easier.scss";
@import "main/sections/noTab.scss";
@import "main/sections/get.scss";
@import "main/sections/download.scss";
// -FOOTER------------------------------------------------------------------------------
@import "footer.scss";