.download {
    margin-bottom: 155.36px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        margin-bottom: 32.73px;
        font-family: 'Noto Sans';
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.03em;
    }
}