.generate {
    margin-bottom: 229px;
    position: relative;

    &__back {
        position: absolute;
        z-index: -2;
        top: -149px;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 1022.45px;
        height: 952.07px;
        margin: 0 auto;
        background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%) 100%;
        opacity: 0.25;
        filter: blur(311.569px);
        border-radius: 476.034px;
        transform: rotate(-0.55deg);
    }

    &__notab {
        background: url("/img/MAIN/Generate/noTab.png") center/100% no-repeat;
        position: absolute;
        z-index: -1;
        top: -149px;
        left: 0;
        bottom: 0;
        right: 0;
        margin-bottom: 50px;
    }


    &__content {
        display: flex;
        justify-content: center;
        margin-bottom: 79.85px;

        // .generate__notab {
        //     background: url("/img/MAIN/Generate/noTab.png") top center/100% no-repeat;
        //     position: absolute;
        //     z-index: -1;
        //     top: 110px;
        //     left: 0;
        //     bottom: 0;
        //     right: 0;
        //     margin-bottom: 50px;
        // }

        .generate__arrow {
            position: absolute;
            top: 200px;
            left: 950px;
        }

        .generate__phone {
            // display: flex;
            // margin-left: 563px;
            // justify-content: center;

            .generate__text {
                // margin-left: 129.44px;
                // align-self: center;
                margin-bottom: 66px;
                font-weight: 700;
                font-size: 21px;
                line-height: 26px;
            }
        }


    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .generate__title {
            flex: 0 1 381px;
            // max-width: 381px;
            font-weight: 700;
            font-size: 51px;
            line-height: 62px;
        }

        .generate__description {
            max-width: 292px;
            font-family: 'Noto Sans';
            font-weight: 400;
            line-height: 25px;
        }

    }

}