%get-border {
    border: 1px solid #5C5C5C;
    border-radius: 10px;
}

.get {
    margin-top: 13px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width:767.98px) {
        margin-top: 95px;
    }

    &__back-top {
        position: absolute;
        top: -50px;
        right: 53.8%;
        z-index: -1;
        width: 247.04px;
        height: 250.45px;
        background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
        filter: blur(225px);
        transform: rotate(5.78deg);

        @media (max-width:767.98px) {
            left: -19.68%;
        }
    }

    &__back-right {
        position: absolute;
        bottom: 0;
        right: -8%;
        z-index: -1;
        width: 336.78px;
        height: 341.42px;
        background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
        opacity: 0.9;
        filter: blur(225px);
        transform: rotate(5.78deg);

        @media (max-width:767.98px) {
            bottom: -23.9%;
            left: 74.23%;
        }
    }

    &__info {
        width: 580px;
        text-align: center;

        @media (max-width:767.98px) {
            width: 323px;
        }

        .get__description {
            white-space: pre-line;

            @media (max-width:767.98px) {
                white-space: normal;
            }
        }
    }

    .form {
        margin-top: 82px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 23px;
        width: 56.805vw;
        min-width: 345px;



        @media (max-width:767.98px) {
            margin-top: 49px;
            gap: 16px;
        }

        input::placeholder {
            font-family: 'Noto Sans';
            font-weight: 400;
            line-height: 25px;
            color: #BFBFBF;
        }

        &__input {
            padding: 29px 23px;
            width: 100%;
            height: 83px;
            @extend %get-border;

            @media (max-width:767.98px) {
                height: 57px;
            }

            &._error {
                border: 2px solid #FF0000;
            }
        }

        &__city {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            width: 100%;
            min-width: 345px;

            @media (max-width:1270px) {
                gap: 23px;
                flex-direction: column;
            }

            @media (max-width:767.98px) {
                gap: 16px;
            }

            input {
                padding: 29px 23px;
                width: 100%;
                height: 83px;
                @extend %get-border;

                @media (max-width:767.98px) {
                    height: 57px;
                }
            }

            &-venue._error {
                border: 2px solid #FF0000;
            }

            &-state._error {
                border: 2px solid #FF0000;
            }
        }

        &__message {
            padding: 26px 23px;
            width: 100%;
            min-height: 199px;
            resize: vertical;
            @extend %get-border;

            &::placeholder {
                font-family: 'Noto Sans';
                font-weight: 400;
                line-height: 25px;
                color: #BFBFBF;
            }

            &._error {
                border: 2px solid #FF0000;
            }
        }

        &__button {
            margin-top: 37px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #fff;
            background: #000000;
            border: 1px solid #FFFFFF;
            border-radius: 10px;
            width: 27.639vw;
            min-width: 345px;
            min-height: 60px;

            &:hover {
                color: rgb(0, 153, 255);
                border: 0.5px solid rgb(0, 153, 255);
            }
        }
    }
}