.greeting {
    position: relative;

    &__back {
        position: absolute;
        top: -23%;
        right: -1.3vw;
        z-index: -2;
        width: 45.972vw;
        height: 95.065%;

        background: rgba(250, 0, 255, 0.2);
        filter: blur(150px);
        // transform: rotate(-105.26deg);

        @media (max-width: 1023.98px) {
            right: 2vw;
            top: 0;
            filter: blur(80px);
            max-height: 666px;
        }

        @media (max-width: 767.98px) {
            top: 0;
            max-height: 500px;
            background: rgba(250, 0, 255, 0.5);
            filter: blur(70px);
            // transform: rotate(-90.69deg);
        }

        @media (max-width: 490px) {
            right: -10.3vw;
            max-height: 363.95px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;

        .greeting__content {
            margin-top: 29px;
            display: flex;
            justify-content: space-between;

            @media (max-width: 767.98px) {
                margin-top: 65.31px;
            }

            .greeting__info {
                display: flex;
                flex-direction: column;
                margin: 125px 15px 0 0;
                min-width: 240px;

                @media (max-width: 767.98px) {
                    margin: 0 15px 0 0;
                    justify-content: center;
                }


                .greeting__title {
                    font-weight: 700;
                    // font-size: calc(100vw * 0.0444);
                    // font-size: 64px;
                    font-size: 4.444vw;
                    line-height: 109%;

                    // line-height: 70px;
                    @media (max-width: 767.98px) {
                        line-height: 40px;
                        font-size: 35px;
                    }
                }

                .greeting__description {
                    margin-top: 88px;
                    position: relative;
                    display: flex;
                    align-items: flex-end;

                    @media (max-width: 1023.98px) {
                        margin-top: 38px;
                    }

                    @media (max-width: 767.98px) {
                        margin-top: 24px;
                    }

                    &-back {
                        position: absolute;
                        bottom: 15.3%;
                        left: -1%;
                        width: 125px;
                        height: 125px;
                        background: rgba(96, 92, 234, 0.5);
                        filter: blur(50px);

                        @media (max-width: 767.98px) {
                            width: 74px;
                            height: 74px;
                        }
                    }

                    &-image {
                        @media (max-width: 767.98px) {
                            display: none;
                        }
                    }

                    &-text {
                        margin-left: 31px;
                        flex: 0 1 380px;
                        font-family: 'Noto Sans';
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 27px;

                        @media (max-width: 1023.98px) {
                            max-width: 240px;
                            margin-left: 20px;
                            font-size: 18px;
                            line-height: 24px;
                        }

                        @media (max-width: 767.98px) {
                            margin-left: 0;
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }

            }

            .greeting__image {
                margin-right: 84.12px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-width: 161px;
                min-height: 322px;
                // width: 332.88px;
                // height: 668px;

                @media (max-width: 1023.98px) {
                    margin-right: 44px;
                }

                @media (max-width: 767.98px) {
                    margin-right: 0;
                    min-width: 161px;
                    min-height: 322px;
                }


                .greeting__phone {
                    height: 100%;
                }

                .greeting__phone-back {
                    position: absolute;
                    top: 2%;
                    left: -3%;
                    width: 307.77px;
                    height: 631.35px;
                    background: #000;
                    opacity: 0.4;
                    filter: blur(71.6833px);
                    z-index: -1;

                    @media (max-width: 767.98px) {
                        display: none;
                    }
                }
            }
        }

        .greeting__download {
            display: flex;
            justify-content: space-between;
            padding-top: 74.2px;
            // margin-right: 63px;
            margin-right: 4.5vw;

            @media (max-width: 1023.98px) {
                padding-top: 55.01px;
                flex-direction: column;
                //   justify-content: center;
                align-items: center;
                margin-right: 0;
            }

            &-text {
                // font-size: 2.43vw;
                font-size: 35px;
                font-weight: 700;

                @media (max-width: 1023.98px) {
                    font-size: 30px;
                }

                @media (max-width: 767.98px) {
                    font-size: 24px;
                }
            }

            &-buttons {
                display: flex;

                @media(max-width: 1023.98px) {
                    padding-top: 34px;
                    flex-direction: column;
                }
            }

            .download__button-apple {
                padding-right: 27.95px;

                @media(max-width: 1023.98px) {
                    padding-right: 0;
                }
            }

            .download__button-google {
                @media(max-width: 1023.98px) {
                    padding-top: 24px;
                }
            }

        }
    }
}