.greeting {
    position: relative;

    &__back {
        position: absolute;
        top: -23%;
        right: -1.3%;
        z-index: -2;
        width: 662.63px;
        height: 783.03px;
        background: rgba(250, 0, 255, 0.2);
        filter: blur(150px);
        transform: rotate(-105.26deg);
    }

    &__container {
        display: flex;
        justify-content: space-between;

        .greeting__info {
            display: flex;
            flex-direction: column;
            margin: 154px 0 0 0;
            // min-width: 60%;

            .greeting__title {
                font-weight: 700;
                font-size: 64px;
                line-height: 109%;
            }

            .greeting__description {
                margin-top: 88px;
                position: relative;
                display: flex;
                align-items: flex-end;

                &-back {
                    position: absolute;
                    bottom: 15.3%;
                    left: -1%;
                    width: 125px;
                    height: 125px;
                    background: rgba(96, 92, 234, 0.5);
                    filter: blur(50px);
                }

                &-image {
                    margin: 0 31px 0 0;
                }

                &-text {
                    flex: 1 1 auto;
                    font-family: 'Noto Sans';
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 27px;
                }
            }

            .greeting__download {
                margin: 267px 0 0px 0;
                font-weight: 700;
                font-size: 35px;
            }
        }

        .greeting__image {
            margin: 29px 84px 0 0;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            // width: 100%;


            .greeting__phone {
                max-width: 333px;
                max-height: 668px;
            }

            .greeting__phone-back {
                position: absolute;
                top: 2%;
                left: -3%;
                width: 307.77px;
                height: 631.35px;
                background: #000;
                opacity: 0.4;
                filter: blur(71.6833px);
                z-index: -1;
            }

            .greeting__button {
          
            }
        }
    }
}