.id {
    margin-top: 283px;
    background: url("../img/MAIN/id/back_blur.png") top/100% no-repeat, url("../img/MAIN/id/background.png") top/100% no-repeat;

    @media (max-width: 1320px) {
        margin-top: 83px;
    }

    @media (max-width: 1023.98px) {
        margin-top: 3px;
    }

    &__content {
        margin-top: 467px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1320px) {
            margin-top: 300px;
        }

        @media (max-width: 1023.98px) {
            margin-top: 224px;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }

        .id__phones {
            display: flex;
            gap: 49.44px;
            margin-left: 100px;

            @media (max-width: 1320px) {
                margin-left: 20px;
            }

            @media (max-width: 1023.98px) {
                flex-direction: column;
                margin: 70px 0 0 0;
                gap: 55px;
            }

            .id__phone-left {
                @media (max-width: 1320px) {
                    width: 287.08px;
                    height: 575.93px;
                }

            }

            .id__phone-right {
                @media (max-width: 1320px) {
                    width: 287.08px;
                    height: 575.93px;
                }
            }
        }

        .id__info {
            margin: 0 191px 74.15px 0;
            align-self: flex-end;

            @media (max-width: 1320px) {
                margin: 0 40px 74.15px 0;
            }

            @media (max-width: 1023.98px) {
                margin: 0;
                align-self: center;
            }

            .id__description {
                max-width: 316px;

                @media (max-width: 1023.98px) {
                    max-width: 345px;
                }
            }
        }
    }
}