.integration {

    &__container {
        position: relative;
        // display: flex;
        // justify-content: space-between;
        margin-bottom: 452px;

        .integration__info {
            flex: 0 1 497px;

            .integration__title {}

            .integration__description {
                max-width: 395px;
            }
        }

        .images {

           &__years {
                position: absolute;
                bottom: 60%;
                right: 16.3%;
            }

            &__pacman {
                position: absolute;
                top: 54%;
                right: 30%;
            }

            &__bulb {
                position: absolute;
                top: 54%;
                right: 12.3%;
            }

            &__months {
                position: absolute;
                top: 92%;
                right: 40%;
            }

            &__blue-hills {
                position: absolute;
                bottom: -80%;
                right: 24%;
            }

            &__data08 {
                position: absolute;
                bottom: -136%;
                right: 30%;
                z-index: -1;
            }

            &__data01 {
                position: absolute;
                bottom: -148%;
                right: 6%;
            }
        }
    }
}