.qr {
    margin-top: 222.79px;
    position: relative;
    background:
        url("/img/MAIN/QR/back-blur.png") top center/100vw no-repeat,
        url("/img/MAIN/QR/dj-back.png") top left/50vw no-repeat,
        url("/img/MAIN/QR/drink-back.png") top right/50vw no-repeat;

    @media (max-width:1130px) {
        margin-top: 34.82px;

    }

    @media (max-width:426px) {
        background:
            url("/img/MAIN/QR/back-blur.png") top center/416px 335px no-repeat,
            url("/img/MAIN/QR/dj-back.png") top center/416px 335px no-repeat,
    }


    &__nightlife {
        position: absolute;
        top: 0;
        right: 8%;
        transform: rotate(-12.84deg);

        @media (max-width:426px) {
            width: 88.46px;
            height: 34.62px;
            top: 36%;
            left: 10%;
        }
    }

    .qr__phones-back {
        display: none;

        // background: url("/img/MAIN/QR/drink-back.png") no-repeat;
        // position: absolute;
        // width: 50.903vw;
        // height: 617px;
        // top: 0;
        // right: 0;
        // z-index: -1;
        @media (max-width:426px) {
            display: block;
            background: url("/img/MAIN/QR/drink-back.png") center/100% no-repeat;
            width: 352.44px;
            height: 297px;
            position: absolute;
            top: 30%;
            right: -9%;
            z-index: -1;
        }
    }

    &__content {
        margin-top: 220px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:1130px) {
            margin-top: 227px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .qr__info {
            margin: 0 0 30.67px 181px;

            @media (max-width:1330px) {
                margin-bottom: 0;
                margin-left: 50px;
            }

            @media (max-width:1130px) {
                margin-left: 0;

            }

            // flex: 0 1 376px;

            .qr__title {}

            .qr__description {
                max-width: 315px;
            }

            .qr__button {
                margin-top: 58px;
                display: flex;

                @media (max-width:1130px) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }


                .qr__button-apple {
                    margin-right: 27.97px;
                    width: 163.53px;
                    height: 51.33px;

                    @media (max-width:1130px) {
                        margin-right: 0;
                        width: 185px;
                        height: 60px;
                    }
                }

                .qr__button-google {
                    width: 163.53px;
                    height: 51.33px;

                    @media (max-width:1130px) {
                        margin-top: 24px;
                        width: 185px;
                        height: 60px;
                    }
                }
            }
        }

        .qr__phones {
            margin-right: 56.44px;
            display: flex;

            @media (max-width:1330px) {
                margin-right: 20px;
            }

            @media (max-width:1130px) {
                margin-top: 80px;
                margin-right: 0;
                flex-direction: column;
            }

            @media (max-width:426px) {
                margin-top: 240px;
            }


            .qr__phone-top {
                margin-right: 80.44px;
                width: 332.56px;
                height: 667.15px;

                @media (max-width:1330px) {
                    margin-right: 30px;
                }

                @media (max-width:1130px) {
                    margin-right: 0;
                    width: 280.98px;
                    height: 563.68px;
                }

                // position: absolute;
                // top: 17%;
                // right: 32%;

                // @media (max-width:1330px) {
                //     top: 30%;
                // }
            }

            .qr__phone-bottom {
                margin-top: 341px;
                width: 332.56px;
                height: 667.15px;

                @media (max-width:1130px) {
                    margin-top: 50px;
                    width: 280.98px;
                    height: 563.68px;
                }

                // position: absolute;
                // bottom: 4%;
                // right: 5%;

                // @media (max-width:1330px) {
                //     right: 2%;
                // }
            }
        }

    }



}