.qr {
    margin-top: 222.79px;
    position: relative;
    background:
        url("../img/MAIN/QR/back-blur.png") top center/100vw no-repeat,
        url("../img/MAIN/QR/dj-back.png") top left/50vw no-repeat,
        url("../img/MAIN/QR/drink-back.png") top right/50vw no-repeat;

    @media (max-width:1130px) {
        margin-top: 34.82px;

    }

    @media (max-width:426px) {
        background:
            url("../img/MAIN/QR/back-blur.png") top center/416px 335px no-repeat,
            url("../img/MAIN/QR/dj-back.png") top center/416px 335px no-repeat,
    }


    &__nightlife {
        position: absolute;
        top: 0;
        right: 8%;
        transform: rotate(-12.84deg);

        @media (max-width:426px) {
            width: 88.46px;
            height: 34.62px;
            top: 36%;
            left: 10%;
        }
    }

    &__content {
        margin-top: 220px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:1130px) {
            margin-top: 227px;
            flex-direction: column;
        }

        .qr__info {
            margin: 0 0 30.67px 81px;
            width: 43.387%;

            @media (max-width:1330px) {
                width: 45.387%;
                margin-bottom: 0;
                margin-left: 5px;
            }

            @media (max-width:1130px) {
                width: 308px;
                margin-left: 0;
            }

            @media (max-width:400.98px) {
                min-width: 100%;
            }

            .qr__title {}

            .qr__description {
                max-width: 315px;

                @media (max-width:767.98px) {
                    white-space: pre-line;
                }
            }

            .qr__button {
                margin-top: 58px;
                display: flex;
                gap: 27.97px;

                @media (max-width:1130px) {
                    gap: 24px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                &-apple {
                    width: 163.53px;
                    height: 51.33px;

                    &:hover {
                        @extend %hoverDownload
                    }

                    @media (max-width:1130px) {
                        width: 185px;
                        height: 60px;
                    }
                }

                &-google {
                    width: 184.5px;
                    height: 51.33px;

                    &:hover {
                        @extend %hoverDownload
                    }

                    @media (max-width:1130px) {
                        width: 185px;
                        height: 60px;
                    }
                }
            }
        }

        .qr__phones {
            display: flex;
            gap: 80.44px;

            @media (max-width:1330px) {
                gap: 15px;
                margin-right: 20px;
            }

            @media (max-width:1130px) {
                gap: 0;
                margin-top: 80px;
                margin-right: 0;
                flex-direction: column;
            }

            @media (max-width:426px) {
                margin-top: 240px;
            }


            .qr__phone-top {
                width: 332.56px;
                height: 667.15px;

                @media (max-width:1130px) {
                    width: 280.98px;
                    height: 563.68px;
                }
            }

            .qr__phone-bottom {
                margin-top: 341px;
                width: 332.56px;
                height: 667.15px;

                @media (max-width:1130px) {
                    margin-top: 50px;
                    width: 280.98px;
                    height: 563.68px;
                }
            }
        }
    }

    .qr__glass-back {
        display: none;

        @media (max-width:426px) {
            display: block;
            background: url("../img/MAIN/QR/drink-back.png") center/100% no-repeat;
            width: 352.44px;
            height: 297px;
            position: absolute;
            top: 30%;
            right: -9%;
            z-index: -1;
        }
    }
}