.cookies {
  height: 93px;
}

.cookies__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  background-color: #fff;
  z-index: 20;
}